# Local
.DS_Store
*.local
*.log*

# Environment files
.env
.env.local
.env.production
.env.development

# Dist
node_modules
dev-dist
dist/
.vinxi
.output
.vercel
.netlify
.wrangler

# IDE
.vscode/*
!.vscode/extensions.json
.idea